.login-page {
    /* background-color: #36454F; */
    background-image: url('../css/img/bg-menu-black1.png');
    background-size: cover;
}

.login-logo {
    cursor: context-menu;
    color: whitesmoke;
}